/* borders */

header {
  border: 1px solid red;
}
.container {
  border: 2px dashed blue;
}
article {
  border: 1px solid red;
}
 {
  border: 2px dotted yellow;
}

/* Global */
html {
  font-size: 18px;
  margin: 0;
  font-family: Helvetica;
}
.container {
  width: 960px;
}
h2  {
  color: white;
  font-weight: bold;
}
h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* Header */
header {
  background-color: black;
  display: flex;
  justify-content: center;
}
.logo_text {
  color: white;
  margin: 0.66rem 1rem;
  display: inline-block;
}
.logo_img {
  height: 1.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: middle;
}

/* Main */
.main_article {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.main_section {
  width: 20rem;
  background-color: black;
  float: left;
  margin-top: 9rem;
}
.main_section h2 {
  margin: 2rem 0rem 0.25rem 3rem;
}
.main_section h1 {
  margin: 0rem 0rem 2rem 3rem;
}
