/* borders */
/*
header {
  border: 1px solid red;
}
.container {
  border: 2px dashed blue;
}
article {
  border: 1px solid red;
}
*/


/* Global */
html {
  font-size: 18px;
  margin: 0;
  font-family: Helvetica;
}
.container {
  width: 960px;
}
h2  {
  color: white;
  font-weight: bold;
}
h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
a {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  text-decoration: none;

}

/* Header */
header {
  background-color: black;
  display: flex;
  justify-content: center;
}
.logo_text {
  color: white;
  margin: 0.66rem 1rem;
  display: inline-block;
}
.logo_img {
  height: 1.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: middle;
}

/* Main */
.main_article {
  height: 25rem;
  width: 100%;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.main_section {
  width: 20rem;
  background-color: black;
  float: left;
  margin-top: 9rem;
}
.main_section h2 {
  margin: 2rem 0rem 0.25rem 3rem;
}
.main_section h1 {
  margin: 0rem 0rem 2rem 3rem;
}

/* Navbar */
.nav_bar {
  width: 100%;
  background-color: firebrick;
  display: flex;
  justify-content: center;
}
.nav_bar nav {
  display: flex;
  justify-content: space-between;
    margin: 0.75rem 0rem;
}
#tablet {
  display: none;
}

/* Item */
.items {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}
.boxes {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;


}
.item_box {
  height:auto;
  width: 30%;

}
.item_img {
 padding: 2rem;
 height: 9em;
 width: auto;
 border:4px solid black;
 display: flex;

}
.item_img img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: auto;

}
.item_text {
  display:block;
  color: white;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

/* Contact */
.contact {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
.contact_box {
  width: 35%;
}
.contact_box div {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

/* Footer */
footer {
  background-color: black;
  height: 5rem;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
footer .container {
  display: flex;
  align-items:center;
}
.footer_text {
  color: white;
}

/* Media query */
@media only screen and (max-width:1024px) {
  #default {
    display: none;
  }
  #tablet {
    display: block;
  }
  .nav_bar nav {
    justify-content: center;
  }

}
